<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fresh-Hub - Free Bootstrap 4 Template by Colorlib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="/css/animate.css">

  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">

  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/ionicons.min.css">

  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/c/ss/jquery.timepicker.css">


  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="/css/style.css">



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-X2nDpHOh6D07QVr5n4tP21JtrX3NBEmKblE2M1zIN7G0nhzvei33A46kglxG7aO3PYp48FsESMIbPfzGS3sF4w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<style>
  body {
    margin: 0;
    color: #212529;
    background: #fff;
    font: 600 16px/18px 'Open Sans', sans-serif;
  }

  .cart-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .cart-empty h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
  }

  .cart-empty h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .continue-btn {
    background-color: #1161ee;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
  }

  .continue-btn:hover {
    background-color: #0a4fbf;
  }

  .cart-empty {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    height: 100vh;
  }

  .cart-empty h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
  }

  .cart-empty h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }

  .continue__btn {
    background-color: #1161ee;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
  }

  .continue__btn:hover {
    background-color: #0a4fbf;
  }


  .quantity .input-group .btn {
    padding: 5px 10px;
  }

  .quantity .input-group-prepend .btn,
  .quantity .input-group-append .btn {
    border-radius: 0;
  }

  .quantity .input-group-prepend .btn i,
  .quantity .input-group-append .btn i {
    font-size: 16px;
  }

  .kg-input {
    padding: 5px 10px;
  }
</style>

<body class="goto-here">
  <div class="py-1 bg-success">
    <div class="container">
      <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
        <div class="col-lg-12 d-block">
          <div class="row d-flex">
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span>
              </div>
              <span class="text">+91 9946340822</span>
            </div>
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                  class="icon-paper-plane"></span></div>
              <span class="text">freshHub@gmail.com</span>
            </div>
            <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
              <span class="text">3-5 Business days delivery &amp; Free Returns</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-danger" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Fresh-Hub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/home" class="nav-link">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Shop</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="cart.html">Cart</a>
              <a class="dropdown-item" href="checkout.html">Checkout</a>
            </div>
          </li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span
                class="icon-shopping_cart"></span></a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{user.name}}</a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="profile">Profile</a>
              <a class="dropdown-item" href="/my-orders">your Orders</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a
                href="index.html">my cart</a></span> <span>My cart</span></p>
          <h1 class="mb-0 bread">my cart</h1>
        </div>
      </div>
    </div>
  </div>

  {{#if products}}
  <section class="ftco-section ftco-cart">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ftco-animate">
          <div class="cart-list">
            <table class="table">
              <thead class="bg-success">
                <tr class="text-center black-font">
                  <th style="color: black;">Product Image</th>
                  <th style="color: black;">Actions</th>
                  <th style="color: black;">Item</th>
                  <th style="color: black;">Price</th>
                  <th style="color: black;">kg</th>
                  <th style="color: black;">Total</th>

                </tr>
              </thead>
              <tbody>
                {{#each products}}
                <tr class="text-center">
                  <td class="image-prod">
                    <a href="/view-product?id={{this._id}}">
                      <img class="img-fluid" src="/uploads/{{images.[0]}}" alt="img" width="50px" height="50px">
                    </a>
                  </td>
                  <td class="cart__close">
                    <div class="col-md-1 col-lg-1 col-xl-1">
                      <button type="button" class="btn btn-link delete-product-btn"
                        onclick="showDeleteConfirmation('{{this._id}}','{{this.user_id}}','{{this.name}}')">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>

                  </td>
                  <td class="item">
                    <p>{{this.item}}</p>
                  </td>
                  <td class="price">{{this.price}}</td>
                  <td class="quantity">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary"
                          onclick="changeQuantity('{{this._id}}', -1, '{{this.user_id}}', {{this.kg}})">
                          <i class="fas fa-minus"></i>
                        </button>

                      </div>
                      <input type="text" class="form-control text-center kg-input" id="kgInput_{{this._id}}"
                        value="{{this.kg}}" min="1" readonly>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary"
                          onclick="changeQuantity('{{this._id}}', 1, '{{this.user_id}}', {{this.kg}})">
                          <i class="fas fa-plus"></i>
                        </button>

                      </div>
                    </div>
                  </td>

                  {{!-- <td class="total" id="productTotal_{{this._id}}">
                    <span id="productTotal">{{total}}</span>
                  </td> --}}

                  <td class="total" id="productTotal_{{this._id}}">
                    <span class="productTotal">{{total}}</span>
                  </td>


                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
            <div class="cart-total mb-3">
              <h3>Cart Totals</h3>
              <p class="d-flex">
                <span>Subtotal</span>
                <span id="subtotal">₹{{total}}</span>
              </p>
              <p class="d-flex">
                <span>Delivery Charge</span>
                <span>Free</span>
              </p>
              <hr>
              <p class="d-flex total-price">
                <span>Grand Total</span>
                <span id="grandTotal">₹{{total}}</span>
              </p>
            </div>
            <p>
              <a href="/checkout" class="btn btn-success py-3 px-4">Proceed to Checkout</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{else}}
  <div class="cart-empty">
    <h1 style="text-align: center;">CART IS EMPTY</h1>
    <h3 style="text-align: center;">ADD ITEMS TO CART</h3>
    <div class="continue__btn" style="justify-self: center;">
      <a href="/home">Continue Shopping</a>
    </div>
  </div>
  {{/if}}





  <!-- view-product.hbs -->



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    // Function to update the cart quantity in local storage
    function updateCartQuantity(kg) {
      const productTotal = document.getElementById("productTotal")
      const cartNumber = $('#cartNumber');
      cartNumber.text(kg);
      localStorage.setItem('cartQuantity', kg);
    }

    function changeQuantity(proId, count, userId, kg) {
      $.ajax({
        url: "/change-product-quantity",
        method: "post",
        data: {
          productId: proId,
          count: count,
          userId: userId,
          kg: kg,
        },
        success: (response) => {
          console.log(response);
          if (response.deleteProduct) {
            location.reload(); // Reload the page
          } else if (response.outOfStock) {
            console.log("out of stock");
            showOutOfStockAlert();
          } else {
            console.log(response)
            const kgInput = $('#kgInput_' + proId);
            kgInput.val(response.kg);

            const productTotalElement = $('#productTotal_' + proId).find('.productTotal');
            productTotalElement.text(response.productTotal);

            const productTotal = $('#productTotal_' + proId);
            productTotal.find('.productTotal').text(response.total);

            const subtotal = $('#subtotal');
            subtotal.text(response.subtotal);

            const grandTotal = $('#grandTotal');
            grandTotal.text(response.subtotal);

            const cartNumber = response.cartNumber;
            updateCartQuantity(cartNumber); // Update the cart number

            // Store the cart quantity in local storage
            localStorage.setItem('cartQuantity', cartNumber);
          }
        }
      });
    }

    function showOutOfStockAlert() {
      Swal.fire({
        title: "Out of Stock",
        text: "This product is currently out of stock.",
        icon: "warning",
        showCancelButton: false,
        confirmButtonColor: "#000000",
        confirmButtonText: "OK",
        customClass: {
          container: "swal-container",
          title: "swal-title",
          text: "swal-text",
          confirmButton: "swal-button"
        },
        onOpen: () => {
          // Set the text color to white
          const swalContainer = document.querySelector(".swal-container");
          swalContainer.style.color = "white";

          // Remove the border from the OK button
          const okButton = document.querySelector(".swal-button");
          okButton.style.border = "none";
        }
      });
    }

    // Retrieve the cart quantity from local storage and update the cart number
    $(document).ready(() => {
      const cartNumber = $('#cartNumber');
      const cartQuantity = localStorage.getItem('cartQuantity');
      cartNumber.text(cartQuantity || '0');
    });



    function deleteproduct() {

      const proId = $('#confirmDeleteBtn').data('product-id');
      const userId = $('#confirmDeleteBtn').data('user-id');

      $.ajax({
        url: "/delete-product-from-cart",
        method: "post",
        data: {
          productId: proId,
          userId: userId,
        },
        success: (response) => {
          if (response.deleteProductFromCart) {

            location.reload();
          }
        }
      });
    }

    $('#confirmDeleteBtn').click(deleteproduct); 
  </script>

</body>

</html>